

<body> 
  	{{>header}}
 
<div class="container">
  
  <div class="card">
     <div class="header">
        Welcome 
    </div>
        <div class="text-center text-white pt-5  bg-dark ">
        <i class="fa fa-power-off i "  aria-hidden="true"></i> <br>
      <p class="pb-5"> Live Streaming Off </p>  </div>
    <div class="card-body   "> 
            

   
    </div>
    
  <div class="card-footer  text-center text-white"  style=" background-color: gray; "><a class="text-white"href="#">Join Now</a></div>
  </div>
</div>

	{{>footer}}
</body>